@model MyCollage.Models.Student
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="container">
    @if (Model == null)
    {
        <p class="alert-danger">No data found</p>
    }
    else
    {
        <ul>
            <li>Name : @Model.FirstName @Model.LastName</li>
            <li>Email: @Model.Email</li>
            <li>Password: @Model.Password</li>
        </ul>
    }
</div>
